* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #c3c3d3;
  background-color: rgb(28, 28, 31);
}

header {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  line-height: 65px;
  height: 65px;
  background-color: rgb(36, 36, 42);
}

/* WeatherMain.jsx */

#weatherMain {
  background-color: rgba(49, 49, 60);
  height: 200px;
}

/* WeatherCard.jsx */

#weatherCardWrap {
  margin: auto;
  width: 1080px;
  border-radius: 5px;
  background-color: rgba(49, 49, 60);
  margin-top: 15px;
}

#weatherCardWrap > p {
  color: #c3c3d3;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  border-bottom: 1px solid rgb(28, 28, 31);
}

#weatherCardMain {
  padding: 15px;
}

#weatherCardMain::after {
  content: '';
  clear: both;
  display: block;
}

.weatherCard {
  float: left;
  width: 340px;
  border-radius: 5px;
  background-color: rgb(40, 40, 48);
  margin-top: 10px;
  padding: 15px;
  margin-right: 15px;
  position: relative;
}

.weatherCard .title {
  color: #c3c3d3;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.weatherCard .details {
  font-size: 1.5rem;
  color: rgba(241, 196, 15, 1);
  font-weight: bold;
}

.weatherCard .small {
  font-size: 0.9rem;
  font-weight: normal;
  opacity: 0.3;
  font-style: italic;
  margin-left: 5px;
}

.weatherCard .loading {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: #c3c3d3;
  opacity: 0.5;
  animation-duration: 0.3s;
  animation-name: loadings;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: block;
}

.weatherCard .greenLight {
  background-color: rgba(22, 160, 133, 1);
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 5px;
  right: 5px;
  animation-duration: 0.5s;
  animation-name: light;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.weatherCard .redLight {
  background-color: rgba(231, 76, 60, 1);
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 5px;
  right: 5px;
  animation-duration: 0.5s;
  animation-name: light;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.weatherCard .yellowLight {
  background-color: rgba(241, 196, 15, 1);
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 5px;
  right: 5px;
  animation-duration: 0.5s;
  animation-name: light;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadings {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes light {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

#weatherMain p {
  font-size: 2rem;
  text-align: center;
  line-height: 200px;
}

#weatherMain .bold {
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(241, 196, 15, 1);
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
  #weatherMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  #weatherMain p {
    font-size: 1.5rem;
    line-height: normal;
  }

  #weatherCardWrap {
    width: 95%;
    margin: 10px auto;
  }
  #weatherCardWrap > p {
    height: 45px;
    line-height: 45px;
  }
  .weatherCard {
    width: 100%;
    margin: 0 0 10px;
  }
  .weatherCard:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  #weatherCardWrap {
    width: 95%;
    margin: inherit auto;
  }
  .weatherCard {
    width: 49%;
    margin-right: 2%;
  }
  .weatherCard:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1080px) {
  .weatherCard:nth-child(3n) {
    margin-right: 0;
  }
}
