* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  font-size: 16px;
}

#mainWrapper {
  background-color: #999;
  background-image: url('https://images.unsplash.com/photo-1500410379664-df9c8f52dd1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  transition: filter 0.5s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#unsplashPhoto {
  width: 150px;
  font-size: 0.8rem;
  color: rgb(223, 223, 223);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#unsplashPhoto a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

#unsplashPhoto a:hover {
  opacity: 0.9;
}
