* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #c3c3d3;
  background-color: rgb(28, 28, 31);
}

header {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  line-height: 65px;
  height: 65px;
  background-color: rgb(36, 36, 42);
}

/* Weather.jsx */

/* WeatherCard.jsx */

#weatherCardWrap {
  margin: auto;
  width: 1080px;
  border-radius: 5px;
  background-color: rgba(49, 49, 60);
  margin-top: 10px;
}

#weatherCardWrap > p {
  color: #c3c3d3;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  border-bottom: 1px solid rgb(28, 28, 31);
}

#weatherCardMain {
  padding: 15px;
}

#weatherCardMain::after {
  content: '';
  clear: both;
  display: block;
}

.weatherCard {
  float: left;
  width: 340px;
  border-radius: 5px;
  background-color: rgb(40, 40, 48);
  margin-top: 10px;
  padding: 15px;
  margin-right: 15px;
}
.weatherCard:nth-child(3n) {
  margin-right: 0;
}

.weatherCard .title {
  color: #c3c3d3;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.weatherCard .details {
  font-size: 1.5rem;
  color: #ffc11f;
  font-weight: bold;
}

.weatherCard .small {
  font-size: 0.9rem;
  font-weight: normal;
  opacity: 0.5;
  font-style: italic;
  margin-left: 5px;
}

/* @media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
} */
